<div class='sidebar'>
    <ul class='sidebar-nav'>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/items'>All items</a>
        </li>
        <li>
            <a href='/categories'>All categories</a>
        </li>
        <li>
            <a href='/itemInstances'>All item-instances</a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href='/category/create'>Create new category</a>
        </li>
        <li>
            <a href='/item/create'>Create new item</a>
        </li>
        <li>
            <a href='/itemInstance/create'>Create new item instance</a>
        </li>
    </ul>
</div>