
<%- include("./partials/head") -%>

<body>

	<%- include("./partials/sidebar") -%>

	<main>
		<h2><%= title %></h2>
		<ul>
			<% category_list.map((category) => { %>
				<li><%= category.name %></li>
			<% }) %>
		</ul>
	</main>
</body>
</html>
